body
{
	/* background-image: url("bg.jpg"); */
	text-align:center;
}
table
{
position:absolute;
margin-left:25%;
width:900px;

}
tr,td
{
	width:33%;
	border: 1px solid
}
.menu-item
{
	font-size:20px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#content-home
{
	display:block;
}
#content-foglalas
{
	display:none;
}
#content-rolunk
{
	display:none;
}